<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>image的性能优化.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9C611581FA84F3600356145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9C611711FA84F3600356145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9C6117C1FA84F3600356145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
